.bgimg-1, .bgimg-2, .bgimg-3 {
			position: relative;
			opacity: 1;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
}
		
.bgimg-1 {
			background-image: url("https://i.imgur.com/SH0X0IN.png");
			height: 100%;
}

.caption {
			position: absolute;
			left: 0;
			top: 35%;
			width: 100%;
			text-align: center;
			color: #000;
}

.caption span.border {
			background-color: rgba(241, 241, 241, 0);
			color: #333;
			padding: 16px;
			font-size: 30px;
}
